.light,
:root {
  --text-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --half_background-color: rgba(255, 255, 255, 0.4);
  --accent_color: rgb(0, 153, 255);
  --grey: rgb(122, 122, 122);
  --off_grey: rgb(205, 205, 205);
  --half_grey: rgb(165, 165, 165);
}

@media (prefers-color-scheme: dark) {

  .dark,
  :root {
    --text-color: rgb(255, 255, 255);
    --background-color: rgb(0, 0, 0);
    --half_background-color: rgba(0, 0, 0, 0.2);
    --accent_color: rgb(0, 153, 255);
    --grey: rgb(122, 122, 122);
    --off_grey: rgb(50, 50, 50);
    --half_grey: rgb(90, 90, 90);
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.crosspain {}